/* div{
    width: 100px;
    height: 100px; 
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(255);
}

#box1{
    background-color: rgba(0,0,255, 0.5);
}
#box2{
    background-color: rgba(0,0,255, 0.75);
}
#box3{
    background-color: rgba(0,0,255, 0.1);
} */

/* #box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
} */

/* div{
    height: 100px;
    width: 150px;
    border: 2px solid black;
    display: inline-block;
    
} */

/* #box1{
    position: static;
    background-color: red;
}

#box2{
    position: relative;
    top: 20px;
    left: 10px;
    background-color: green;
    z-index: 1;
}
#box3{
    position: absolute;
    top: 500px;
    left: 20px;
    background-color: black;
}
#box4{
    position: fixed;
    top: 0;
    background-color: pink;
} */

/* #box1{
    background-image:ulr("cat.webp") ;
    background-size: cover;
} */

/* body{
    text-align: center;
}

#container{
    width:600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
    height: 200px;
    /* align-self: flex-end; 

}*/

/* #box3{
    background-color: orange;
    height: 75px;
}

#box4{
    background-color: indianred;
}

#box5{
    background-color: slateblue;
} 
 */

/* div{
    height: 100px;
    width: 150px;
    background-color:aqua ;
    border: 2px solid black;
    /* display: inline-block; 
    top: 100px;
    left: 100px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in ;
    transition-delay: 1s; 

    transition: all 2s ease-in 1s;
    /* transform: rotate(360deg); */
    /* rotate: z 90deg; 
} */

/* div:hover{
    /* background-color: red;
    color: white;
    font-size: 20px; */
    /* transform: scaleY(2); */
    /* transform: rotate(180deg); 
    transform: translate(200px);
 } */

 div{
    height: 100px;
    width: 100px;
    background-color:aqua ;
    border: 2px solid black; 
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: colorAnimate;
    animation-duration: 2s;
    /* animation-timing-function: ease-in; */
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate;
 }

 @keyframes colorAnimate {
   from{ left: 0; background-color: red;}
   50%{
    background-color: aqua;
   }
   to{left: 200px; background-color: pink;}
 }

 div:hover{

 }
 div:active{
    background-color: pink;
 }

