/* .content{
    color: red;
}

.newClass{
    background-color: green;
} */

/* div{
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
} */

/* .dark{
    background-color:black ;
    color: white;
}

.light{
    background-color: white;
    color: black;
} */

