/* *{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: black;
}

input{
    margin-left: 200px;
}

button{
    background-color: orange;
    color: white;
}

#logo{
    margin-left: 2px;
    color: tomato;
    font-size: 25px;
}

a{
    color: white;
    margin-left: 200px;
    text-decoration: none;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 600px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
} */


/* div{
    height: 200px;
    width:200px;
    background-color: chocolate;
}

@media(max-width: 300px){
    div{
        background-color: green;
    }
}

@media(main-width: 300px) and (max-width: 400px){
    div{
        background-color: pink;
    }
}

@media(main-width: 400px) and (max-width: 600px){
    div{
        background-color: red;
    }
}

@media(min-width: 600px){
    div{
        background-color: blue;
    }
} */

.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 25px solid black;
    border-top: 20px solid blue;
    animation: spinAnimate 3s ease-in 0s infinite normal;
}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(260deg);
    }
}